:root {
	--vp-c-green: #10b981;
	--vp-c-green-light: #34d399;
	--vp-c-green-lighter: #5fddab;
	--vp-c-green-dark: #059669;
	--vp-c-green-darker: #047857;

	--vp-c-brand-3: var(--vp-c-green);
	--vp-c-brand-2: var(--vp-c-green-light);
	--vp-c-brand-1: var(--vp-c-green-lighter);

	--vp-home-hero-name-color: var(--vp-c-green);

	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: -webkit-linear-gradient(315deg, var(--vp-c-green) 25%, #647eff);
}

pre * {
	tab-size: 2 !important;
}
